:root {
    /* 中英文自动空格 */
    text-autospace: normal;
    --index-radius: 18px;
}

.clearfix:after{
    clear:both;
    display: table;
    content: "";
}

/* 基础样式 */
a {
    color: #666;
    outline: 0;
    text-decoration: none;
    text-underline-position:under
}

a:active, a:hover {
    outline:0 none
}

blockquote, body, dd, dir, dl, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, input, legend, menu, ol, optgroup, p, pre, tbody, td, textarea, tfoot, th, thead, ul{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    list-style-image:none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-inline-start: 0px;
}

li {
    display: list-item;
    text-align: match-parent;
}

img {
    border: 0 none;
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: top;
    -ms-interpolation-mode: bicubic;
}

video {
    display: block;
    max-width: 100%;
    object-fit: contain;
    content: normal;
}

body {
    font-size: 12px;
    font-family: tahoma, "microsoft yahei", sans-serif !important;
    line-height: 1.42857143;
}

body, button, input, select, textarea {
    font-size: 12px;
    color: #333;
    line-height: 1.42857143;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

/* 字体大小设置 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400
}

h1 {
    font-size:36px
}

h2 {
    font-size:30px
}

h3 {
    font-size:22px
}

h4 {
    font-size:18px
}

h5 {
    font-size:14px
}

h6 {
    font-size:12px
}

/* 主体部分 */
main {
    background-color: black;
    padding: 0 0; 
    text-align: center; /* 居中显示图片 */
}

